
.consultancy{

  &-educationalist{
    padding-top: 0 !important;

    &-wrapper{
      margin-top: 70px;

      @include BootstrapMaxWidthResponsive(hd){
        margin-top: 40px;
      }
      @include BootstrapMaxWidthResponsive(md){
        margin-top: 25px;
      }
    }

    &-list{
      margin-top: 40px;

      @include BootstrapMaxWidthResponsive(hd){
        margin-top: 30px;
      }
    }

    &-row{
      @include BootstrapMaxWidthResponsive(md){
        @include flexbox-flex-direction(column);
      }
    }

    &-avatar{
      display: none;

      img{
        @include border-radius(50%);
      }

      @include BootstrapMaxWidthResponsive(lg){
        display: block;
        max-width: 220px;
        margin-bottom: 20px;
      }
    }

    &-detail{}

    &-edulist{
      margin-top: 40px;

      @include BootstrapMaxWidthResponsive(hd){
        margin-top: 30px;
      }
      @include BootstrapMaxWidthResponsive(lg){
        margin-top: 20px;
      }
    }
  }
}