
.consultancy{

  &-section{
    padding-top: 70px;
    padding-bottom: 70px;

    @include BootstrapMaxWidthResponsive(hd){
      padding-top: 40px;
    }
    @include BootstrapMaxWidthResponsive(lg){
      padding-top: 20px;
      padding-bottom: 60px;
    }
    @include BootstrapMaxWidthResponsive(md){
      padding-top: 10px;
      padding-bottom: 50px;
    }
  }

}