
.home{

  #{$headerclassname}{

    &-web{
      background-color: transparentize(darken($global-sitebg-darkblue01, 7%), 0.75);
      @include backdrop-filter-multiple(blur(5px));

      &.activemenubar{
        @include backdrop-filter-multiple(none);
      }
    }

    &.navscroll{
      #{$headerclassname}-web{
        @include backdrop-filter-multiple(none);
      }
    }

  }

  &-bigtitle{
    padding-bottom: 120px;
    position: relative;
    top: -1px;
  }

  &-register{
    background-color: $global-clr-soft-gray;

    > .container{
      min-height: 615px;
      @include flexbox-display-flex();
      @include flexbox-flex-direction(row);

      .row{@include flexbox-flex(1);}
    }

    .bgandicon{
      position: absolute;
      width: calc(50% + 15px);
      height: 100%;
      left: 0;
      top: 0;
      overflow: hidden;

      &::before{
        content: "";
        background-image: url(#{$global-img-path-svg}/ikaros_andicon_white.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        width: 950px;
        height: 1030px;
        position: absolute;
        right: 0;
        top: 50%;
        @include transform-multiple(translateX(calc(50%/2)) translateY(calc(-1030px/2)));
      }
    }

    .sitemodalformbox{
      background-color: $global-clr-dark-blue;
      width: 100%;
      min-height: 700px;
      position: absolute;
      top: -40px;
      @include box-shadow-none-imp();
    }
  }

  &-consultancy{
    padding-top: 120px;
    padding-bottom: 100px;
  }

}