
.hresources{

  &-statistics{
    padding-top: 70px;
    padding-bottom: 70px;

    &-employment{
      background-color: lighten($global-clr-soft-gray, 2%);
      padding: 45px 50px 50px;
      margin-top: 50px;
      margin-bottom: 40px;
      @include border-radius(4px);

      .table{
        margin-top: 40px;

        thead{
          tr{
            th{text-align: center;}
          }
        }

        tbody{
          tr{

            &:first-child{
              td:nth-child(2){text-align: left !important;}
            }

            td{
              &:nth-child(2),
              &:nth-child(3),
              &:nth-child(4){text-align: center;}
            }
          }
        }
      }
    }
  }

}