
.incentive{

  &-section{
    padding-top: 70px;
    padding-bottom: 70px;
  }

  &-supporttables{

    &-listbox{
      margin: 25px 0 50px 35px;

      @include BootstrapMaxWidthResponsive(md){
        margin: 20px 0 40px 0;
      }

      &:last-child{margin-bottom: 0}
    }

    &-table{
      margin-top: 10px;
      margin-bottom: 30px;

      @include BootstrapMaxWidthResponsive(md){
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        padding-bottom: 15px;
      }

      &:last-child{margin-bottom: 0}

      table{
        margin-bottom: 5px;
      }

      table+table{
        margin-top: 25px;
      }

      p{
        margin-top: 2px !important;
      }

      .tableodddark{background-color: transparentize($global-border-light-gray, 0.65);}
      .tableoddsoft{background-color: transparentize($global-border-light-gray, 0.75);}
    }

  }

}