
.legal{

  &-cookie{

    &-list{
      margin-top: 30px;

      @include BootstrapMaxWidthResponsive(hd){
        margin-top: 20px;
      }
      @include BootstrapMaxWidthResponsive(lg){
        margin-top: 15px;
      }
    }
  }
}