
.legal{

  &-section{
    padding-top: 70px;
    padding-bottom: 70px;

    @include BootstrapMaxWidthResponsive(1k){
      padding-top: 40px;
    }
    @include BootstrapMaxWidthResponsive(lg){
      padding-top: 20px;
      padding-bottom: 60px;
    }
    @include BootstrapMaxWidthResponsive(md){
      padding-top: 10px;
      padding-bottom: 50px;
    }
  }

  ol.termlist01{
    list-style: none;
    counter-reset: item;
    margin-left: 0;

    &-head{
      > li{
        margin-bottom: 20px !important;

        @include BootstrapMaxWidthResponsive(1k){
          margin-bottom: 15px !important;
        }
        @include BootstrapMaxWidthResponsive(lg){
          margin-bottom: 10px !important;
        }
      }
    }

    > li{
      padding-left: 30px;
      position: relative;
      margin-bottom: 10px;

      @include BootstrapMaxWidthResponsive(lg){
        padding-left: 20px;
      }

      &::before {
        content: counters(item, ".") ". ";
        counter-increment: item;
        font-weight: 500;
        width: 30px;
        display: inline-block;
        position: absolute;
        left: 0;
        font-size: 22px;
        line-height: 1.09;
        letter-spacing: -.6px;

        @include BootstrapMaxWidthResponsive(1k){
          font-size: 20px;
        }
        @include BootstrapMaxWidthResponsive(lg){
          font-size: 18px;
        }
        @include BootstrapMaxWidthResponsive(md){
          font-size: 16px;
        }
      }
    }

    ol.nomatter{
      margin-left: 0;
      margin-top: 5px;

      li.nomatter{
        padding-left: 0 !important;

        &::before {
          visibility: hidden;
          position: absolute;
          left: 0;
          display: inline-block;
        }
      }
    }
  }

}