
.return{

  #{$headerclassname}-web{border-color: transparent;}
  #{$footerclassname}-brand{display: none;}

  &-section{
    padding-top: 150px;
    min-height: 150px;

    @include BootstrapMaxWidthResponsive(1k){
      min-height: 128px;
      padding-top: 128px;
    }
    @include BootstrapMaxWidthResponsive(lg){
      min-height: 78px;
      padding-top: 78px;
    }
    @include BootstrapMaxWidthResponsive(md){
      min-height: 64px;
      padding-top: 64px;
    }

    > .container{
      padding-top: 90px;
      padding-bottom: 130px;

      @include BootstrapMaxWidthResponsive(1k){
        padding-top: 40px;
        padding-bottom: 80px;
      }
      @include BootstrapMaxWidthResponsive(lg){
        padding-bottom: 50px;
      }
    }
  }

  &-wrapper{

    .animation-alert-icons{
      margin: 0 auto 40px;
      @include scale(1.2);

      @include BootstrapMaxWidthResponsive(1k){
        margin-bottom: 20px;
        @include scale(1);
      }
      @include BootstrapMaxWidthResponsive(lg){
        margin-bottom: 15px;
        @include scale(0.9);
      }
      @include BootstrapMaxWidthResponsive(md){
        margin-bottom: 10px;
        @include scale(0.8);
      }

      .alert-icons{
        &-success{border-color: $global-clr-white;}
        &-warning{border-color: $global-clr-white;}
        &-error{border-color: $global-clr-white;}
      }
    }

    &-btngroup{
      @include flexbox-display-flex();
      @include flexbox-flex-wrap(wrap);
      max-width: 570px;
      margin: 30px auto 0;

      @include BootstrapMaxWidthResponsive(xm){
        @include flexbox-flex-direction(column);
      }

      .btn{
        @include flexbox-flex-basis(0);
        @include flexbox-flex-grow(1);
        max-width: 100%;
        margin: 0 5px;
        text-align: left;
        display: block;

        @include BootstrapMaxWidthResponsive(xm){
          margin: 5px 0;
        }

        &:first-child{
          margin-left: 0;
        }
        &:last-child{
          margin-right: 0;
        }
      }
    }

  }
}