.btn{

  &-rounded{
    @include border-radius(50px);
  }

  &-lg{
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 9px;
    padding-bottom: 9px;

    &[class*="rounded"]{
      padding-left: 25px !important;
      padding-right: 35px !important;

      > i[class*="sprite-20"]{
        top: 4px;
        margin-right: 3px;
      }
    }
  }

}
