.sitecontent{

  &-borderbox{
    border: 1px solid $global-border-light-gray;
    @include border-radius(4px);
  }

  &-desc{
    h1,h2,h3,h4,h5,h6{line-height: 1.15; letter-spacing: -1.14px;}
    h2{font-size: 36px;}
    h2{font-size: 22px;}
    h3{font-size: 18px;}
    h4{font-size: 18px;}
    h5{font-size: 18px;}
    h6{font-size: 18px;}
    h1+p,h2+p,h3+p,h4+p,h5+p,h6+p,h1+ul,h2+ul,h3+ul,h4+ul,h5+ul,h6+ul{margin-top: 10px;}
    p+h1,p+h2,p+h3,p+h4,p+h5,p+h6,ul+h1,ul+h2,ul+h3,ul+h4,ul+h5,ul+h6{margin-top: 30px;}
    p+p,p+ul{margin-top: 10px;}
    p{font-size: 16px; font-weight: normal; line-height: 1.38; letter-spacing: -0.48px;}
    ul{font-size: 16px; font-weight: normal; line-height: 1.38; letter-spacing: -0.48px;}
    ul > li{/*margin-bottom: 15px;*/}
    ul > li:last-child{margin-bottom: 0;}
  }

  ul.ullist{
    li{
      position: relative;
      padding-left: 15px;

      &::before{
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        left: 0;
      }
    }

    &-dotted{
      li{
        &::before{
          width: 8px;
          height: 8px;
          background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiPg0KICA8ZyBpZD0iQmFja2dyb3VuZCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMGQ3OGM0IiBzdHJva2Utd2lkdGg9IjEiPg0KICAgIDxyZWN0IHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHJ4PSI0IiBzdHJva2U9Im5vbmUiLz4NCiAgICA8cmVjdCB4PSIwLjUiIHk9IjAuNSIgd2lkdGg9IjciIGhlaWdodD0iNyIgcng9IjMuNSIgZmlsbD0ibm9uZSIvPg0KICA8L2c+DQo8L3N2Zz4NCg==");
          top: 7px;
        }
      }
    }
  }

}