// Global Variables
@import "../../plugin/option/variables";
@import "../../plugin/option/variables_bootstrap";

// Global Mixin
@import "../../plugin/option/mixin";


.icons{

  &-svg{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    overflow: hidden;
    display: inline-block;
    position: relative;
  }

  &-sprite{
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;

    &.sprite-12-dark{
      background-image: url(#{$global-img-path-icons}/icons_spite_12_dark.svg);
      background-position: 0 0;
      width: 12px;
      height: 12px;

      &.icons-blue-plus{background-position: 0 0;}
      &.icons-blue-arrow{background-position: -12px 0;}
    }

    &.sprite-20-dark{
      background-image: url(#{$global-img-path-icons}/icons_spite_20_dark.svg);
      background-position: 0 0;
      width: 20px;
      height: 20px;

      &.icons-green-password{background-position: 0 0;}
      &.icons-blue-enter{background-position: -20px 0;}
      &.icons-green-refer{background-position: -40px 0;}
      &.icons-green-user{background-position: -60px 0;}
    }

    &.sprite-60-dark{
      background-image: url(#{$global-img-path-icons}/icons_spite_60_dark.svg);
      background-position: 0 0;
      width: 60px;
      height: 60px;

      &.icons-blue-building{background-position: 0 0;}
      &.icons-blue-employee{background-position: -60px 0;}
      &.icons-blue-resume{background-position: -120px 0;}
    }

    &.sprite-home-consultancy{
      background-image: url(#{$global-img-path-icons}/icons_spite_consultancy_70.svg);
      background-position: 0 0;
      width: 70px;
      height: 70px;

      &.icons-managment{background-position: 0 0;}
      &.icons-grant{background-position: -70px 0;}
      &.icons-kosgeb{background-position: -140px 0;}
      &.icons-payroll{background-position: -210px 0;}
      &.icons-capital{background-position: -280px 0;}
      &.icons-callcenter{background-position: -350px 0;}
    }

  }

}

.siteicons{

  &dropdown{
    background-color: transparent;
    padding: 0;
    width: 24px;
    height: 24px;
    border: 1px solid $global-input-border-light;
    position: relative;

    &::after{
      display: none;
    }

    &::before{
      content: "";
      position:absolute;
      width: 9px;
      height: 9px;
      padding: 0;
      border-top: 2px solid $global-clr-soft-blue;
      border-right: 2px solid $global-clr-soft-blue;
    }

    &.updirection{
      &::before{
        top: calc(50% - 2px);
        left: calc(50% - 4px);
        @include rotate(315);
      }
    }
    &.downdirection{
      &::before{
        top: calc(50% - 6px);
        left: calc(50% - 4px);
        @include rotate(135);
      }
    }
    &.leftdirection{
      &::before{
        top: calc(50% - 4px);
        left: calc(50% - 2px);
        @include rotate(225);
      }
    }
    &.rightdirection{
      &::before{
        top: calc(50% - 4px);
        left: calc(50% - 5px);
        @include rotate(45);
      }
    }
  }

}