// Global Variables
@import "../../plugin/option/variables";

// Global Mixin
@import "../../plugin/option/mixin";


.icons{

  &-svg{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    overflow: hidden;
    display: inline-block;
    position: relative;
  }

  &-sprite{
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;

    &.sprite-12-dark{
      background-image: url(#{$global-img-path-icons}/icons_spite_12_dark.svg);
      background-position: 0 0;
      width: 12px;
      height: 12px;

      &.icons-blue-plus{
        background-position: 0 0;
      }
      &.icons-blue-arrow{
        background-position: -12px 0;
      }
    }

    &.sprite-20-dark{
      background-image: url(#{$global-img-path-icons}/icons_spite_20_dark.svg);
      background-position: 0 0;
      width: 20px;
      height: 20px;

      &.icons-green-password{
        background-position: 0 0;
      }
      &.icons-blue-enter{
        background-position: -20px 0;
      }
    }

  }

}