// Global Variables
@import "../../plugin/option/variables";

// Global Mixin
@import "../../plugin/option/mixin";


.icons{

  &-svg{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    overflow: hidden;
    display: inline-block;
  }

  &-sprite{
    background-repeat: no-repeat;
    display: inline-block;

    &.sprite-45{
      background-image: url(#{$global-img-path-icons}/icons_spite_45.svg);
      background-position: 0 -45px;
      width: 45px;
      height: 45px;
      @include transition(background, 0.15s, ease-in-out);

      &.icons-01{
        background-position: 0 -45px;
        &:hover{
          background-position: 0 0;
        }
      }
      &.icons-02{
        background-position: -50px -45px;
        &:hover{
          background-position: -50px 0;
        }
      }
      &.icons-03{
        background-position: -100px -45px;
        &:hover{
          background-position: -100px 0;
        }
      }
      &.icons-04{
        background-position: -150px -45px;
        &:hover{
          background-position: -150px 0;
        }
      }
    }
  }

}