
.siteformui{

}

.sitemodalformbox{
  background-color: transparentize($global-clr-soft-blue, 0.85);
  padding: 40px;
  @include border-radius(14px);
  @include box-shadow(0, 0, 20px, transparentize($global-clr-dark-black, 0.95));

  &-head{
    @include flexbox-display-flex();
    @include flexbox-flex-direction(row);
    @include flexbox-justify-content(space-between);

    .sitetitle{margin: 0;}
    i[class*="icons"]{
      @include svg-filter(0%, 1, 0, 100%);
    }
  }

  &-form{
    margin-top: 40px;
    position: relative;
    z-index: 1;

    #{$formclassname}-control{
      &[rows]{
        //height: 140px;
      }
    }

    .btn-lg{margin-top: 10px;}
  }
}