
.siteformui{

  .recaptcha{

    &-area{
      @include flexbox-display-flex();
      @include flexbox-align-items(center);
    }

    &-check{
      position:relative;
      width:20px;
      height:20px;
      overflow: hidden;
      margin-right: 6px;
      border: 1px solid $global-input-border-light;
      @include border-radius(3px);

      .g-recaptcha{
        position:absolute;
        top: -27px;
        left: -43px;
        @include scale(0.8);
      }
    }

    label{
      &::before,
      &::after{display: none;}
    }
  }

}

.sitemodalformbox{
  padding: 40px;
  @include border-radius(14px);

  &-head{
    @include flexbox-display-flex();
    @include flexbox-flex-direction(row);
    @include flexbox-justify-content(space-between);

    .sitetitle{margin: 0;}
    i[class*="icons"]{
      @include svg-filter(0%, 1, 0, 100%);
    }
  }

  &-form{
    margin-top: 40px;
    position: relative;
    z-index: 1;

    #{$formclassname}-control{
      &[rows]{
        //height: 140px;
      }
    }

    .btn-lg{
      height: 54px;
      margin-top: 10px;
    }
  }
}