
.dfn {
  $dfnnavclassname: &;

  &-nav{
    background-color: transparent;
  }

  &-menu {
    font-size: 16px;
    letter-spacing: -0.16px;

    &-list{
      min-height: 38px;

      &-item{

        > a{
          letter-spacing: -0.16px;

          @include BootstrapMaxWidthResponsive(xl){
            padding: 14px 10px;
          }
        }

        > a[data-toggle="dropdown"]{
          &::before{
            content: "";
            display: inline-block;
            background-image: url(#{$global-img-path-icons}/icons_spite_12_dark.svg);
            background-position: 0 0;
            width: 12px;
            height: 12px;
            margin-right: 3px;
            position: relative;
            @include transition-multiple(transform 0.3s ease-in-out, filter 0.3s ease-in-out);

            @include BootstrapMaxWidthResponsive(lg){
              background-image: none !important;
            }
          }
        }

        > a[aria-expanded="true"]{
          &::before{
            @include rotate(90);
            @include svg-filter(0%, 1, 0, 100%);
          }
        }

        .dropdown-menu{
          background-color: transparentize(darken($global-sitebg-darkblue01, 3%), 0.02) !important;

          @include BootstrapMaxWidthResponsive(xl){
            top: 103px !important;
          }

          a{color: $global-clr-white;}

          &.show{}

          .menunav{
            ul{
              li{
                &:hover::after{
                  border-color: $global-clr-white;
                }

                &::after{
                  border-top-color: $global-clr-soft-blue;
                  border-right-color: $global-clr-soft-blue;
                }
              }
            }
          }

          .megamenu{
            &-desc{
              &-title{
                color: $global-clr-white;
              }
            }
          }

          .megamultimenu{
            &-desc{
              &-title{
                color: $global-clr-soft-blue;
              }
            }
          }
        }
      }
    }

    &-mobilemenu{

      &-header{}

      &-btn{}

    }
  }

  &-headnav{
    #{$dfnnavclassname}-menu{
      &-list{
        &-item{}
      }
    }
  }

  &-mobilemenu{
    &-mask{
      background-color: $global-sitebg-darkblue01;
    }
  }
}