
.component{

  &-gradientbg{
    @include background-linear(darken($global-grdint-darkblue01, 1%), darken($global-grdint-darkblue02, 1%), -45);
    width: 100%;
    height: 100%;
    position: relative;
    color: $global-clr-white;
    background-repeat: no-repeat;
    background-position: bottom center;
    overflow: hidden;
    @include transition(padding, 0.3s, ease-in-out);

    &.turquoisebg{
      @include background-linear(darken($global-grdint-turquoise01, 1%), darken($global-grdint-turquoise02, 1%), -45);
    }
  }

  &-bigtitle{
    background-color: $global-clr-white;
    padding: 70px 0;

    @include BootstrapMaxWidthResponsive(hd){
      padding: 50px 0;
    }

    &.headcontbehind{
      padding-top: 50px;

      @include BootstrapMaxWidthResponsive(hd){
        padding-top: 20px;
      }
      @include BootstrapMaxWidthResponsive(md){
        padding-top: 10px;
      }
    }
  }

  &-sign{
    position: relative;

    &-titlearea{
      @include flexbox-display-flex();
      @include flexbox-flex-direction(column);
      @include flexbox-justify-content(center);
      width: 100%;
      max-width: 480px;
      height: calc(100% - 20px);

      @include BootstrapMaxWidthResponsive(lg){
        max-width: inherit;
        height: inherit;
      }

      .sitetitle{
        padding-top: 70px;

        @include BootstrapMaxWidthResponsive(lg){
          padding-top: 40px;
          text-align: center;
        }
        @include BootstrapMaxWidthResponsive(md){
          padding-top: 30px;
        }
      }

      &-btngroup{
        @include flexbox-display-flex();
        @include flexbox-flex-wrap(wrap);
        padding-top: 30px;
        padding-bottom: 70px;

        @include BootstrapMaxWidthResponsive(xl){
          @include flexbox-flex-direction(column);
        }
        @include BootstrapMaxWidthResponsive(lg){
          @include flexbox-flex-direction(row);
          padding-bottom: 40px;
        }
        @include BootstrapMaxWidthResponsive(md){
          padding-top: 20px;
          padding-bottom: 30px;
        }
        @include BootstrapMaxWidthResponsive(xs){
          padding-bottom: 20px;
        }
        @include BootstrapMaxWidthResponsive(xm){
          padding-bottom: 10px;
        }
        @include BootstrapMaxWidthResponsive(xm){
          @include flexbox-flex-direction(column);
        }

        .btn{
          @include flexbox-flex-basis(0);
          @include flexbox-flex-grow(1);
          max-width: 100%;
          margin: 0 5px;
          text-align: left;
          display: block;

          &:first-child{
            margin-left: 0;
          }
          &:last-child{
            margin-right: 0;
          }

          @include BootstrapMaxWidthResponsive(xl){
            margin: 5px 0;
          }
          @include BootstrapMaxWidthResponsive(lg){
            margin: 0 5px;

            &:first-child{
              margin-left: 0;
            }
            &:last-child{
              margin-right: 0;
            }
          }
          @include BootstrapMaxWidthResponsive(xm){
            margin: 5px 0;
          }
        }
      }
    }

    &-formarea{
      position: relative;

      @include BootstrapMaxWidthResponsive(lg){
        padding-bottom: 45px;
      }
    }

    .sitemodalformbox{
      &-form{
        #{$formclassname}-control{
          &[rows]{
            height: 140px;

            @include BootstrapMaxWidthResponsive(sm){
              height: 100px;
            }
          }
        }
      }
    }
  }

  &-consultancy{
    background-color: $global-clr-white;
    padding: 70px 0;

    .consultancy{
      &-list{
        @include flexbox-display-flex();
        @include flexbox-flex-direction(row);
        @include flexbox-flex-wrap(wrap);
        max-width: 1150px;
        margin: auto;
      }

      &-items{
        width: 100%;
        @include flexbox-flex(0 0 calc(100% / 3));
        max-width: calc(100% / 3);
        padding: 60px 30px 0;

        @include BootstrapMaxWidthResponsive(hd){
          padding: 45px 20px 0;
        }
        @include BootstrapMaxWidthResponsive(lg){
          @include flexbox-flex(0 0 calc(100% / 2));
          max-width: calc(100% / 2);
        }
        @include BootstrapMaxWidthResponsive(md){
          padding: 30px 15px 0;
        }
        @include BootstrapMaxWidthResponsive(xs){
          @include flexbox-flex(0 0 calc(100% / 1));
          max-width: calc(100% / 1);
        }
      }

      &-icons{
        @include flexbox-display-flex();
        background-color: $global-clr-soft-gray;
        width: 130px;
        height: 130px;
        margin: 0 auto 20px;
        @include border-radius(70px);

        @include BootstrapMaxWidthResponsive(hd){
          width: 110px;
          height: 110px;
          margin-bottom: 10px;
        }
        @include BootstrapMaxWidthResponsive(lg){
          width: 100px;
          height: 100px;
        }
        @include BootstrapMaxWidthResponsive(sm){
          width: 80px;
          height: 80px;
        }

        i[class*="icons"]{
          display: block;
          margin: auto;

          @include BootstrapMaxWidthResponsive(hd){
            @include scale(0.8);
          }
          @include BootstrapMaxWidthResponsive(lg){
            @include scale(0.7);
          }
          @include BootstrapMaxWidthResponsive(sm){
            @include scale(0.6);
          }
        }
      }
    }
  }

  &-team{
    &-list{
      @include flexbox-display-flex();
      @include flexbox-flex-wrap(wrap);

      > li{
        @include flexbox-flex(0 0 calc(100%/3));
        max-width: calc(100%/3);

        .teambox{
          background-color: $global-clr-white;
          color: $global-clr-text-dark;
          padding: 35px 35px 25px;
          position: relative;
          z-index: 0;
          @include border-radii(0,0,0,0);
          @include transition-multiple(box-shadow 0.15s ease-in-out, z-index 0.15s ease-in-out, border-radius 0.15s ease-in-out);

          &:hover{
            @include box-shadow(0,0,20px,transparentize($global-clr-dark-black, 0.85));
            @include border-radii(0,110px,0,50px);
            z-index: 1;

            .teamname{
              &::after{
                width: 30%;
              }
            }
            .teamphoto{
              img{
                @include filter-multiple(grayscale(0));
              }
            }
            .teamdetail{
              opacity: 1;
            }
          }
        }
        .teamhead{
          @include flexbox-display-flex();
          @include flexbox-align-items(center);
          margin-bottom: 15px;
          position: relative;
        }
        .teamname{
          @include flexbox-flex-grow(1);
          @include flexbox-flex-basis(0);
          max-width: 100%;
          //border-bottom: 2px solid $global-border-light-gray;
          position: relative;

          &::before,
          &::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 2px;
            @include transition-multiple(width 0.15s ease-in-out);
          }

          &::before{
            background-color: $global-border-light-gray;
            width: 100%;
          }
          &::after{
            background-color: $global-clr-soft-blue;
            width: 0;
          }

          h3{
            color: $global-clr-text-dark;
            font-size: 26px;
            padding-bottom: 10px;
            padding-top: 10px;
          }
          span{display: block;}
        }
        .teamphoto{
          @include flexbox-flex(0 0 auto);
          width: auto;
          max-width: 100%;
          margin-left: 20px;
          border: 5px solid transparentize($global-border-light-gray, 0.25);
          @include border-radius(50%);

          img{
            width: 100%;
            max-width: 160px;
            height: auto;
            display: block;
            margin: 0 0 0 auto;
            @include border-radius(50%);
            @include filter-multiple(grayscale(1));
            @include transition-multiple(filter 0.15s ease-in-out);
          }

        }
        .teaminfo{}
        .teamtitle{
          color: $global-clr-text-light;
          margin-bottom: 10px;
        }
        .teamdetail{
          @include flexbox-display-flex-inline();
          @include flexbox-align-items(center);
          color: $global-clr-text-light;
          padding: 0;
          text-decoration: none !important;
          opacity: 0;
          @include transition-multiple(opacity 0.15s ease-in-out);

          i{
            margin-right: 5px;
            @include svg-filter(100%, 0, 0, 100%);
          }
        }
      }
    }
  }

}