
.footer{
  background-color: $global-sitebg-darkblue01;
  color: #57799c;
  min-height: 200px;

  a{
    color: #57799c;
    @include transition-multiple(color 0.15s ease-in-out);

    &:hover{
      color: $global-clr-white;
    }
  }

  &-brand{
    background-color: $global-clr-soft-gray;
    height: 130px;
    padding: 35px 0;
    position: relative;

    &-list li{
      @include flexbox-display-flex();
      height: 60px;
      margin: auto;
    }

    &-scroll{
      background-color: $global-sitebg-darkblue01;
      background-image: url(#{$global-img-path-svg}/footer_scroll_bg.svg);
      background-repeat: no-repeat;
      background-position: center bottom;
      width: 88px;
      height: 34px;
      position: absolute;
      bottom: 0;
      left: 50%;
      @include translateX(-50%);
      z-index: 1;overflow: hidden;


      &::before,
      &::after{
        content: "";
        background-color: $global-clr-soft-gray;
        position: absolute;
        width: 5000px;
        height: 100%;
        bottom: 0;
      }
      &::before{
        left: -4999px;
      }
      &::after{
        right: -4999px;
      }

      &-arrow{}
    }
  }

  &-bottom{
    font-size: 16px;
    line-height: 1.13;
    letter-spacing: -0.16px;
    padding: 50px 0 30px;
    position: relative;

    > .container .row{
      position: relative;

      &::before{
        content: "";
        background-color: transparentize($global-clr-soft-blue, 0.70);
        position: absolute;
        width: calc(100% - 30px);
        height: 1px;
        top: 75px;
        left: 15px;
      }
    }

    &-logo{}

    &-address{
      margin-top: 35px;

      &-contact{
        margin-top: 10px;

        li{
          padding-left: 25px;
          margin: 5px 0;
          position: relative;

          &::before{
            content: "";
            background-image: url(#{$global-img-path-icons}/icons_spite_footer_16.svg);
            background-position: 0 0;
            background-repeat: no-repeat;
            display: block;
            position: absolute;
            width: 16px;
            height: 16px;
            left: 0;
            top: 50%;
            @include translateY(-50%);
          }

          &.iconsphone::before{background-position: 0 0;}
          &.iconsfax::before{background-position: -16px 0;}
          &.iconsemail::before{background-position: -32px 0;}

        }
      }
    }

    &-links{

      h4{
        color: $global-clr-white;
        font-size: 20px;
        line-height: 0.8;
        letter-spacing: -0.2px;
        margin-top: 40px;
        padding-bottom: 10px;
      }

      &-nav{
        line-height: 1.5;
        letter-spacing: -0.16px;
        margin-top: 28px;
      }

      &-social{
        @include flexbox-display-flex();
        @include flexbox-flex-direction(row);
        @include flexbox-flex-wrap(wrap);
        @include flexbox-justify-content(center);
        margin-top: 28px;

        li{
          margin: 0 5px;
          position: relative;

          a.socialicons{
            background-image: url(#{$global-img-path-icons}/icons_spite_footer_social_20.svg);
            background-position: 0 0;
            background-repeat: no-repeat;
            display: block;
            width: 20px;
            height: 20px;
            @include transition-multiple(filter 0.15s ease-in-out);

            &:hover{
              @include svg-filter(0%, 1, 0, 100%);
            }

            &.iconsfacebook{background-position: 0 0;}
            &.iconstwitter{background-position: -20px 0;}
            &.iconsinstagram{background-position: -40px 0;}
            &.iconslinkedin{background-position: -60px 0;}
          }
        }

      }
    }
  }

  &-legal{
    @include flexbox-display-flex();
    @include flexbox-flex-wrap(wrap);
    @include flexbox-align-items(center);
    padding: 20px;
    border: 1px solid transparentize($global-clr-soft-blue, 0.70);
    @include border-radius(6px);

    &-logo{
      @include flexbox-flex(0 0 auto);
      width: auto;
      max-width: 100%;
      margin-right: 15px;

      i{
        background-image: url(#{$global-img-path-svg}/footer_legal_logo_iskur.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        width: 100px;
        height: 100px;
      }
    }

    &-desc{
      @include flexbox-flex-basis(0);
      @include flexbox-flex-grow(1);
      max-width: 100%;

      h4, p{
        font-size: 14px;
        letter-spacing: -0.14px;
      }
      h4{
        color: $global-clr-white;
        line-height: 1.14;
        margin-bottom: 3px;
      }
      p{
        line-height: 1.29;
      }
    }
  }

  &-copyright{
    @include flexbox-display-flex();
    @include flexbox-flex-wrap(wrap);
    @include flexbox-align-items(center);
    @include flexbox-justify-content(space-between);
    padding: 20px 0;

    &-text{}

    &-links{
      @include flexbox-display-flex();
      @include flexbox-flex-direction(row);
      @include flexbox-flex-wrap(wrap);

      > li{
        margin: 0 10px;
        position: relative;

        &:first-child{
          margin-left: 0;
          &::before{display: none;}
        }
        &:last-child{
          margin-right: 0;
        }

        &::before{
          content: "";
          background-color: transparentize($global-clr-soft-blue, 0.70);
          position: absolute;
          width: 1px;
          height: 80%;
          left: -10px;
          top: 10%;
        }
      }

    }
  }
}