
.footer{
  background-color: $global-sitebg-darkblue01;
  color: #57799c;
  min-height: 200px;

  a{
    color: #57799c;
    @include transition-multiple(color 0.15s ease-in-out);

    &:hover{
      color: $global-clr-white;
    }
  }

  &-brand{
    background-color: $global-clr-soft-gray;
    height: 120px;
    padding: 30px 0;
    position: relative;

    &-notshow{
      height: auto;
      padding: 0;

      .container{display: none;}
      .footer-brand-scroll{
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4Ny45OTciIGhlaWdodD0iMzQiIHZpZXdCb3g9IjAgMCA4Ny45OTcgMzQiPg0KICA8ZyBpZD0iQmciIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEzMjMuMDY4IDY3OC45NTEpIHJvdGF0ZSgxODApIj4NCiAgICA8cGF0aCBpZD0iUGF0aCIgZD0iTTkxMS45NzQsMGgzLjY3OWM3LjcyMSwwLDEwLjUzNSwzLjU0MiwxMy45ODksOS4xNDlsNy45MDgsMTAuNDA4YzIuMiwzLjU2OCw5LjEzOCw5LjIzLDEzLjA2NywxMC4zNzRhMjYuNDYyLDI2LjQ2MiwwLDAsMCw1LjIxNi43MThjMS42ODcsMCwxLjk0MS4wNTksNS45NzgtLjcxOHMxMS4wNTItNi44MDYsMTMuMjQ5LTEwLjM3NEw5ODIuMyw5LjE0OUM5ODUuNzU4LDMuNTQyLDk4OC4xNDYsMCw5OTUuODcxLDBoNC4xbC0uMDI1LDM0SDkxMS45NzRaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzMjMuMDk3IDY0NC45NTEpIiBmaWxsPSIjZmZmIi8+DQogIDwvZz4NCjwvc3ZnPg0K");
      }
    }

    &-list li{
      @include flexbox-display-flex();
      height: 60px;
      margin: auto;
    }

    &-scroll{
      background-color: $global-sitebg-darkblue01;
      background-image: url(#{$global-img-path-svg}/footer_scroll_bg.svg);
      background-repeat: no-repeat;
      background-position: center bottom;
      width: 86px;
      height: 34px;
      position: absolute;
      bottom: 0;
      left: 50%;
      @include translateX(-50%);
      z-index: 1;overflow: hidden;

      &::before,
      &::after{
        content: "";
        background-color: $global-clr-soft-gray;
        position: absolute;
        width: 5000px;
        height: 100%;
        bottom: 0;
      }
      &::before{
        left: -5000px;
      }
      &::after{
        right: -5000px;
      }

      &-arrow{}
    }
  }

  &-bottom{
    font-size: 16px;
    line-height: 1.13;
    letter-spacing: -0.16px;
    padding: 50px 0 30px;
    position: relative;

    @include BootstrapMaxWidthResponsive(1k){
      font-size: 15px;
    }
    @include BootstrapMaxWidthResponsive(xl){
      padding: 40px 0 25px;
    }
    @include BootstrapMaxWidthResponsive(md){
      padding: 25px 0 20px;
    }
    @include BootstrapMaxWidthResponsive(xs){
      padding: 20px 0 20px;
    }

    > .container .row{
      position: relative;

      &::before{
        content: "";
        background-color: transparentize($global-clr-soft-blue, 0.70);
        position: absolute;
        width: calc(100% - 30px);
        height: 1px;
        top: 75px;
        left: 15px;

        @include BootstrapMaxWidthResponsive(1k){
          top: 65px;
        }
        @include BootstrapMaxWidthResponsive(md){
          top: 55px;
        }
      }
    }

    &-logo{
      @include BootstrapMaxWidthResponsive(1k){
        max-width: 130px;
      }
      @include BootstrapMaxWidthResponsive(md){
        max-width: 100px;
        position: relative;
        top: 5px;
      }
    }

    &-address{
      margin-top: 35px;

      @include BootstrapMaxWidthResponsive(1k){
        margin-top: 30px;
      }
      @include BootstrapMaxWidthResponsive(lg){
        padding-bottom: 15px;
        border-bottom: 1px solid transparentize($global-clr-soft-blue, 0.70);
      }
      @include BootstrapMaxWidthResponsive(md){
        padding-bottom: 0;
        border-bottom: none;
      }

      &-contact{
        margin-top: 10px;

        li{
          padding-left: 25px;
          margin: 5px 0;
          position: relative;

          &::before{
            content: "";
            background-image: url(#{$global-img-path-icons}/icons_spite_footer_16.svg);
            background-position: 0 0;
            background-repeat: no-repeat;
            display: block;
            position: absolute;
            width: 16px;
            height: 16px;
            left: 0;
            top: 50%;
            @include translateY(-50%);
          }

          &.iconsphone::before{background-position: 0 0;}
          &.iconsfax::before{background-position: -16px 0;}
          &.iconsemail::before{background-position: -32px 0;}

        }
      }
    }

    &-links{

      &.socials{
        @include BootstrapMaxWidthResponsive(lg){
          position: absolute;
          top: 15px;
          right: 0;
          max-width: 50%;

          h4{display: none;}
        }
      }

      h4{
        color: $global-clr-white;
        font-size: 20px;
        line-height: 0.8;
        letter-spacing: -0.2px;
        margin-top: 40px;
        padding-bottom: 10px;
        white-space: nowrap;

        @include BootstrapMaxWidthResponsive(1k){
          font-size: 18px;
          margin-top: 33px;
        }
        @include BootstrapMaxWidthResponsive(lg){
          margin-top: 20px;
        }
        @include BootstrapMaxWidthResponsive(md){
          display: none;
        }
      }

      &-nav{
        line-height: 1.5;
        letter-spacing: -0.16px;
        margin-top: 28px;

        @include BootstrapMaxWidthResponsive(1k){
          margin-top: 23px;
        }
        @include BootstrapMaxWidthResponsive(lg){
          margin-top: 0;
        }
      }

      &-social{
        @include flexbox-display-flex();
        @include flexbox-flex-direction(row);
        @include flexbox-flex-wrap(wrap);
        @include flexbox-justify-content(center);
        margin-top: 28px;

        @include BootstrapMaxWidthResponsive(lg){
          margin-top: 0;
          @include flexbox-justify-content(flex-end);
        }

        li{
          margin: 0 5px;
          position: relative;

          @include BootstrapMaxWidthResponsive(xl){
            margin: 0 3px;
          }
          @include BootstrapMaxWidthResponsive(lg){
            margin: 0 5px;
          }

          a.socialicons{
            background-image: url(#{$global-img-path-icons}/icons_spite_footer_social_20.svg);
            background-position: 0 0;
            background-repeat: no-repeat;
            display: block;
            width: 20px;
            height: 20px;
            @include transition-multiple(filter 0.15s ease-in-out);

            &:hover{
              @include svg-filter(0%, 1, 0, 100%);
            }

            &.iconsfacebook{background-position: 0 0;}
            &.iconstwitter{background-position: -20px 0;}
            &.iconsinstagram{background-position: -40px 0;}
            &.iconslinkedin{background-position: -60px 0;}
            &.iconsyoutube{background-position: -80px 0;}
          }
        }

      }
    }
  }

  &-legal{
    @include flexbox-display-flex();
    @include flexbox-flex-wrap(wrap);
    @include flexbox-align-items(center);
    padding: 20px;
    border: 1px solid transparentize($global-clr-soft-blue, 0.70);
    @include border-radius(6px);

    @include BootstrapMaxWidthResponsive(md){
      @include flexbox-flex-direction(column);
      text-align: center;
    }

    &-logo{
      @include flexbox-flex(0 0 auto);
      width: auto;
      max-width: 100%;
      margin-right: 15px;

      @include BootstrapMaxWidthResponsive(md){
        margin-right: 0;
        margin-bottom: 15px;
      }

      i{
        background-image: url(#{$global-img-path-svg}/footer_legal_logo_iskur.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        width: 100px;
        height: 100px;

        @include BootstrapMaxWidthResponsive(xl){
          width: 90px;
          height: 90px;
        }
      }
    }

    &-desc{
      @include flexbox-flex-basis(0);
      @include flexbox-flex-grow(1);
      max-width: 100%;

      h4, p{
        font-size: 14px;
        letter-spacing: -0.14px;

        @include BootstrapMaxWidthResponsive(xl){
          font-size: 13px;
        }
      }
      h4{
        color: $global-clr-white;
        line-height: 1.14;
        margin-bottom: 3px;

        @include BootstrapMaxWidthResponsive(md){
          font-size: 14px;
        }
      }
      p{
        line-height: 1.29;
      }
    }
  }

  &-copyright{
    @include flexbox-display-flex();
    @include flexbox-flex-wrap(wrap);
    @include flexbox-align-items(center);
    @include flexbox-justify-content(space-between);
    padding: 20px 0;

    @include BootstrapMaxWidthResponsive(lg){
      @include flexbox-flex-direction(column);
      text-align: center;
    }

    &-text{
      @include BootstrapMaxWidthResponsive(lg){
        @include flexbox-flex-order(2);
      }
    }

    &-links{
      @include flexbox-display-flex();
      @include flexbox-flex-direction(row);
      @include flexbox-flex-wrap(wrap);

      @include BootstrapMaxWidthResponsive(lg){
        @include flexbox-flex-order(1);
        margin-bottom: 10px;
      }

      > li{
        margin: 0 10px;
        position: relative;

        @include BootstrapMaxWidthResponsive(xm){
          margin: 0 5px;
        }

        &:first-child{
          margin-left: 0;
          &::before{display: none;}
        }
        &:last-child{
          margin-right: 0;
        }

        &::before{
          content: "";
          background-color: transparentize($global-clr-soft-blue, 0.70);
          position: absolute;
          width: 1px;
          height: 80%;
          left: -10px;
          top: 10%;

          @include BootstrapMaxWidthResponsive(xm){
            left: -5px;
          }
        }
      }

    }
  }
}