
.headtitle{

  &-owl{
    width: 100%;

    &-item{}

    &-bg{}

  }

  &-bgmask{
    position: relative;

    &::before{
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      @include background-linear(darken($global-grdint-darkblue01, 1%), darken($global-grdint-darkblue02, 1%), -45);
      opacity: 0.75;
    }
  }


  &-home{
    @include flexbox-display-flex();
    @include flexbox-align-items(center);
    min-height: 700px !important;
    padding-top: 0 !important;



    &-slogan{
      max-width: 720px;
      margin: 120px auto 70px;
      position: relative;
      z-index: 1;

      &-btn{
        margin-top: 50px;
        position: relative;
        text-align: center;

        .btn{
          color: $global-clr-white !important;
          background-color: transparentize($global-sitebg-darkblue01, 0.5) !important;

          &:hover{
            background-color: $global-clr-soft-blue !important;
          }
        }
      }
    }

    &-bg{
      background-image: url(#{$global-img-path-slider}/home_slider_01.jpg);
      background-position: top center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    &-scroll{
      background-image: url(#{$global-img-path-svg}/headtitle_scroll_bg.svg);
      background-repeat: no-repeat;
      background-position: center bottom;
      width: 88px;
      height: 34px;
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: 1;
      @include translateX(-50%);

      &::before,
      &::after{
        content: "";
        background-color: $global-clr-white;
        position: absolute;
        width: 5000px;
        height: 100%;
        bottom: 0;
      }
      &::before{
        left: -4999px;
      }
      &::after{
        right: -4999px;
      }

      &-mouse{}
    }

  }

}